<div class="card">
  <div class="card-header">
    <h4>Забули пароль?</h4>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class:"form-control",  placeholder:"Email", autofocus: true, autocomplete: "email" %>
      </div>
      <br />
      <div class="actions">
        <%= f.submit "Підтвердити", class:"btn btn-secondary" %>
      </div>
    <% end %>
    <br />
    <%= render "devise/shared/links" %>
  </div>
</div>
