<div class="card">
  <div class="card-header">
    <h4>Вхід</h4>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, class:"form-control",  placeholder:"Email", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field form-group">
        <%= f.label :password, "Пароль" %><br />
        <%= f.password_field :password, class:"form-control",  placeholder:"Пароль", autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "Запам'ятати мене" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Ввійти", class:"btn btn-secondary" %>
      </div>
    <% end %>
    <br/>
    <%= render "devise/shared/links" %>
  </div>
</div>
