<div class="card">
  <div class="card-header">
    <h4>Поділитися своїми витратами з іншими кориистувачами</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <ul class="list-group">
          <%= turbo_stream_from "rooms" %>
          <li class="list-group-item">
            <h5> <%= render @rooms %> </h5>
          </li>
          <li class="list-group-item">
            <h5> Користувачі:</h5>
            <%= turbo_stream_from "users" %>
            <div id="users">
              <%= render @users %>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-9 bg-dark text-light">
        <% if @single_room %>
          <h4 class="text-center"> <%= @user&.email || @single_room.name %> </h4>
          <%= turbo_stream_from @single_room %>
          <div id="messages">
            <%= render @messages %>
            <div class="form-group msg-form">
              <%= form_with(model: [@single_room, @message], remote: true, class: "d-flex") do |f| %>
                <%= f.button "Поділитися своїми витратами", type: "submit", data: { disable_with: false }, class: "btn btn-primary"  %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
