<%= form_with(model: expense) do |f| %>
  <% if expense.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
        <% expense.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= f.label :name, "Ім'я", style: "display: block" %>
    <%= f.text_field :name, class:"form-control" %>
  </div>

  <div>
    <%= f.label :sum, "Сума", style: "display: block" %>
    <%= f.text_field :sum, class:"form-control" %>
  </div>

  <div>
    <%= f.label :description, "Опис", style: "display: block" %>
    <%= f.text_field :description, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :category_id, "Виберіть категорію", style: "display: block"  %>
    <%= f.select :category_id, [["Подорожі", 1], ["Одяг", 2], ["Таксі", 3],
                                  ["Кафе", 4], ["Магазини", 5], ["Інше", 6]], class:"form-control" %>
  </div>

  <div>
    <%= f.number_field :user_id, id: :expense_user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= f.submit "Ок", class:"btn btn-secondary" %>
  </div>
<% end %>
