<div class="card">
  <div class="card-header">
    <h4>Загальна сума витрат: <%= @total_sum %></h4>
    <%= render :partial => 'expenses/search_form' %>
  </div>
  <div class="card-body">
    <table class="table table-stripped table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Назва</th>
          <th>Сума</th>
          <th>Категорія</th>
          <th>Опис</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @expenses.each do |expense| %>
          <tr>
            <th><%= expense.name %></th>
            <th><%= expense.sum %></th>
            <th><%= expense.category.title %></th>
            <th><%= expense.description %></th>
            <th><%= link_to "Показати", expense, class:"btn btn-outline-info" %></th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
